:root {
  --color-bg-default: #fdf8f5 !important;
  --color-text-default: #2a2a29 !important;
  --color-border-default: #242424 !important;
  --color-card-bg: transparent !important;
  --color-hover-default: #111111 !important;
  --color-bg-glass-default: rgb(255 255 255/3%) !important;
  --bg-opacity: 0.3 !important;
  --max-width: 600px !important;
  --theme-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 98%) !important;
  --border-radius: 15px !important;
  --color-cta-background: #f2f2f2 !important;
  --color-cta-text: #2e2d2d !important;
  --color-navbar-cta-text: var(--color-text-default) !important;
  --color-navbar-cta-bg: rgba(0, 0, 0, 0.4) !important;
  --color-pill-gray: #151517 !important;
  --scrollbar-color: #383838 !important;

  --notion-blue: #5e7c71 !important;
  --notion-gray: #808080 !important;
  --notion-red: #ae4a4a !important;
  --notion-pink: #983a4d !important;
  --notion-purple: #7f3a98 !important;
  --notion-teal: #507b6f !important;
  --notion-yellow: #edb636 !important;
  --notion-orange: #c88448 !important;
  --notion-brown: #5a422b !important;

  --notion-item-blue: #c9e4da !important;
  --notion-item-gray: #adadad !important;
  --notion-item-red: #d09d9d !important;
  --notion-item-pink: #eeb8c3 !important;
  --notion-item-purple: #e4cced !important;
  --notion-item-teal: #8cc9b9 !important;
  --notion-item-yellow: #ecdbb4 !important;
  --notion-item-orange: #fcb475 !important;
  --notion-item-brown: #ae8a68 !important;

  --notion-blue_background: #c9e4da !important;
  --notion-gray_background: #adadad !important;
  --notion-red_background: #dca4a4 !important;
  --notion-pink_background: #e9ced3 !important;
  --notion-purple_background: #e4cced !important;
  --notion-teal_background: #8cc9b9 !important;
  --notion-yellow_background: #ecdbb4 !important;
  --notion-orange_background: #fcb475 !important;
  --notion-brown_background: #ae8a68 !important;

  --notion-blue_background_co: #e7f8f2 !important;
  --notion-gray_background_co: #d3d3d3 !important;
  --notion-red_background_co: #fad1d1 !important;
  --notion-pink_background_co: #ffebef !important;
  --notion-purple_background_co: #f5e0fc !important;
  --notion-teal_background_co: #d7ebe5 !important;
  --notion-yellow_background_co: #f6edd8 !important;
  --notion-orange_background_co: #ffecdc !important;
  --notion-brown_background_co: #f8f1ea !important;
}

.dark-mode {
  --color-bg-default: #2a2a29 !important;
  --color-text-default: #f2f2f2 !important;

  --theme-gradient: linear-gradient(to bottom, rgba(30, 32, 37, 0), rgba(30, 32, 37, 1) 98%) !important;
  --color-text-default: #fdf8f5 !important;
  --color-hover-default: #111111 !important;
  --color-bg-glass-default: rgba(67, 65, 65, 0.03) !important;
  --color-border-default: #242424 !important;
  --color-cta-background: #f2f2f2 !important;
  --color-cta-text: #2e2d2d !important;
  --color-navbar-cta-text: var(--color-text-default) !important;
  --color-navbar-cta-bg: rgba(0, 0, 0, 0.4) !important;
  --color-pill-gray: #151517 !important;
  --scrollbar-color: #383838 !important;

  --notion-blue: #c9e4da !important;
  --notion-gray: #adadad !important;
  --notion-red: #cc7d7d !important;
  --notion-pink: #de8193 !important;
  --notion-purple: #cc8ee2 !important;
  --notion-teal: #8cc9b9 !important;
  --notion-yellow: #fbdd96 !important;
  --notion-orange: #fcb475 !important;
  --notion-brown: #ae8a68 !important;

  --notion-item-blue: #53625d !important;
  --notion-item-gray: #808080 !important;
  --notion-item-red: #ae4a4a !important;
  --notion-item-pink: #7f4b55 !important;
  --notion-item-purple: #5e4268 !important;
  --notion-item-teal: #507b6f !important;
  --notion-item-yellow: #af8a35 !important;
  --notion-item-orange: #c88448 !important;
  --notion-item-brown: #5a422b !important;

  --notion-blue_background: #53625d !important;
  --notion-gray_background: #808080 !important;
  --notion-red_background: #ae4a4a !important;
  --notion-pink_background: #7f4b55 !important;
  --notion-purple_background: #5e4268 !important;
  --notion-teal_background: #507b6f !important;
  --notion-yellow_background: #af8a35 !important;
  --notion-orange_background: #c88448 !important;
  --notion-brown_background: #5a422b !important;

  --notion-blue_background_co: #4f635c !important;
  --notion-gray_background_co: #515151 !important;
  --notion-red_background_co: #593d3d !important;
  --notion-pink_background_co: #513a3e !important;
  --notion-purple_background_co: #413744 !important;
  --notion-teal_background_co: #39544c !important;
  --notion-yellow_background_co: #705a24 !important;
  --notion-orange_background_co: #704927 !important;
  --notion-brown_background_co: #3d352c !important;
}

.notion-hash-link {
  display: none !important;
}

.notion-title {
  display: none !important;
}

.notion {
  --notion-max-width: 1024px;
  --notion-header-height: 54px;
  max-height: 100%;
}

.notion-header {
  background: var(--color-bg-glass-default) !important;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  height: 70px !important;
  margin: 0 auto;
  overflow: visible;
}

.notion-page-scroller {
  min-height: calc(100vh - 80px);
}

.notion-nav-header-rhs {
  gap: 0.5rem;
}

.notion-page-icon-hero.notion-page-icon-image {
  display: none !important;
}

.notion-page-icon-hero.notion-page-icon-span .notion-page-icon {
  display: none !important;
}

.notion-page-cover-wrapper {
  position: fixed !important;
  width: 100% !important;
  top: 0 !important;
  margin-top: -150px !important;
  height: 60vh !important;
  max-height: 60vh !important;
  z-index: 0 !important;
  opacity: var(--bg-opacity) !important;
}

.notion-page-cover-wrapper img {
  -webkit-mask-image: linear-gradient(to top, transparent 15%, black 75%);
  mask-image: linear-gradient(to top, transparent 15%, black 75%);
}

.notion-page {
  padding-bottom: calc(max(5vh, 32px)) !important;
  line-height: 1.65;
}

.notion-toggle {
  display: none !important;
}

.index-page {
  --notion-max-width: 1024px;
}

.notion-h1 {
  font-size: 36px !important;
  font-weight: 400 !important;
}

.notion-h1:first-of-type {
  font-size: 56px !important;
  font-weight: 700 !important;
  margin-top: 0px !important;
  max-width: 600px !important;
  letter-spacing: -1px !important;
}
.notion-h1:first-of-type .notion-semantic-string {
  line-height: 1 !important;
}

/* ANIMATE EMOJIS TITLES */
.notion-h1:first-of-type b:hover {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
  cursor: pointer;
}
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.notion-h {
  margin-top: 0px !important;
}

.notion-h1 strong,
.notion-h2 strong,
.notion-h3 strong {
  font-weight: 300 !important;
}

.notion-h2 {
  font-size: 36px !important;
  font-weight: 500 !important;
}

.notion-h3 {
  font-size: 26px !important;
  font-weight: 400 !important;
}

.notion-text {
  font-size: 18px !important;
  line-height: 1.65 !important;
}

.notion-link {
  text-decoration: none !important;
  border: none !important;
  font-weight: 500 !important;
}

.notion-toggle.bg-gray,
.notion-collection__header {
  display: none !important;
}

.notion-collection {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.notion-asset-caption {
  text-align: center;
}

.notion-property .notion-property-checkbox {
  display: none !important;
}

.notion-property-checkbox {
  display: none !important;
}

.notion-asset-wrapper {
  margin-top: 1em;
  margin-bottom: 1em;
}

.notion-asset-wrapper-video > div,
.notion-asset-wrapper-video video {
  width: 100% !important;
}

.notion-collection-row-value {
  min-height: auto !important;
}

.notion-collection-row {
  border: none !important;
  display: flex;
  justify-content: space-between;
}
.notion-collection-row-body {
  flex-direction: row !important;
  justify-content: space-between;
  width: 100% !important;
}

.notion-property-date {
  color: var(--notion-gray) !important;
  font-size: 12px !important;
}

.notion-gallery-grid {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 3vmin;

  gap: 3vmin;
  border-top: none !important;
}

.notion-gallery-grid .notion-page-icon-inline {
  display: none;
}

.notion-gallery-grid .notion-page-title-text {
  font-size: 2em;
}

.notion-gallery-grid .notion-collection-card-property {
  white-space: unset;
  text-overflow: unset;
}

.notion-gallery-grid .notion-property-text {
  font-size: 14px;
}

.notion-collection-card {
  border-radius: 16px;
  box-shadow: none;
}

.notion-collection-card-cover img {
  border-radius: 16px;
}

.notion-collection-card-cover {
  border-bottom: 0 none;
  transition: filter 150ms linear;
  filter: none;
}

.notion-collection-card-body {
  padding: 10px;
}

.notion-collection-list,
.notion-collection-gallery {
  border: 0 !important;
}

.notion-collection-list .notion-property__date {
  margin-right: 10px !important;
  opacity: 0.4 !important;
}

.notion-collection-list .notion-icon__page {
  display: none !important;
}

.notion-collection-header {
  display: none !important;
}

.notion-collection-header-title {
  display: none !important;
}
.notion-table {
  display: flex;
}
.notion-table-view {
  display: block !important;
  padding-left: 82px !important;
  padding-right: 82px !important;
}

.notion-table-header {
  display: none !important;
  justify-content: center;
}

.notion-list-body {
  border: none !important;
  gap: 8px;
}

.notion-table-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important;
  width: fit-content !important;
  padding: 0 !important;
  min-height: auto !important;
}

.notion-list-item-title {
  font-size: 18px;
  font-weight: 600;
}

.notion-table-cell-created_time {
  color: var(--notion-gray);
  font-size: 12px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  _::-webkit-full-page-media,
  _:future,
  :root,
  .notion-collection-card-cover {
    transition: none 0ms linear;
  }
}

.notion-callout {
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: var(--color-text-default);
}

.notion-callout:hover {
  transform: scale(1.05);
  filter: brightness(1.3);
}

.notion-hr {
  margin: 2em 0;
}

@media only screen and (max-width: 920px) {
  .index-page.notion-page {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

@media only screen and (max-width: 720px) {
  .notion-page {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}

@media only screen and (max-width: 600px) {
  .notion-search-button {
    display: none !important;
  }
}

.notion .notion-page-icon-cover {
  margin-left: auto;
  margin-right: auto;
}

.notion-title {
  display: block;
  text-align: center;
}

.notion-collection-row {
  padding-bottom: 1em;
}

.notion-collection-page-properties .notion-collection-column-title {
  display: none;
}

.notion-collection-row-property .notion-property {
  display: flex;
  justify-content: center;
}

.notion-collection-row-value {
  display: flex;
  align-items: center;
  padding: 0;
  min-height: 23px;
}

.notion-block-ab9a258d6cf444f3bb40dc2600feae91 .notion-page-link {
  justify-content: center;
  padding: 2em;
}

.notion-code {
  background: rgba(249, 250, 251, 1);
  border: 1px solid rgba(229, 231, 235, 1);
  border-radius: 0.375rem;
}
